<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- 在此处添加简单的 tab 样式 -->
  <style>
    .tab {
      overflow: hidden;
      margin: 10px 0;
    }

    .tab button {
      background-color: #f1f1f1;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 10px 16px;
      transition: 0.3s;
      font-size: 16px;
      margin-right: 5px;
    }

    .tab button:hover {
      background-color: #ddd;
    }

    .tab button.active {
      background-color: #ccc;
    }

    .tabcontent {
      display: none;
      padding: 6px 0px;
      margin-top: 0px;
    }

    .background-image {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('images/IMG_4859_copy.jpg'); /* 这里改成你的背景图地址 */
      background-size: cover;
      background-position: center;
      opacity: 0.3; /* 调透明度，0~1之间，数字越小越透明 */
      z-index: -1; /* 保证背景在最底层 */
    }

  </style>

</head>

<body>
  <div class="background-image"></div>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <!-- 头部简介 -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Xialin He (何夏麟)
              </h1>
              <p>I'm a 2nd year Ph.D. student in Computer Science at <a href="https://illinois.edu/">University of Illinois Urbana-Champaign</a> supervised by Prof. <a href="https://saurabhg.web.illinois.edu/">Saurabh Gupta</a>.
              </p>
              <p>
                Before that, I earned my bachelor degree at <a href="https://acm.sjtu.edu.cn/home">ACM Honors Class</a>, <a href="https://en.sjtu.edu.cn/">Shanghai Jiao Tong University</a> and I was privileged to delve into the application of Reinforcement Learning in Quadruped Robot's locomotion while collaborating with the <a href="https://apex.sjtu.edu.cn/">SJTU APEX lab</a> under the guidance of Prof. <a href="http://wnzhang.net/">Weinan Zhang</a>.
              </p>
              <p>
                During my senior year, I am fortunate to work with Prof. <a href="https://xiaolonw.github.io/">Xiaolong Wang</a> at UCSD Wang Lab as a research intern. During my time there, I also have the opportunity to collaborate closely with Prof. <a href="https://davheld.github.io/">David Held</a>. 
              </p>
              <p>
                My research interests lie in <strong>Reinforcement Learning, Robot Learning, Computer Vision</strong> and <strong>Control theory</strong>.
              </p>
              <p>
                If you are interested in my work, feel free to to contact me for further discussions or potential collaborations.
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:mulinjiu1129@gmail.com"> Email</a> &nbsp;/&nbsp;
                <a href="https://github.com/mulinjiu">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=-oy5DaIAAAAJ&">Google Scholar</a> &nbsp;/&nbsp;
                <a href="https://x.com/Xialin_He"> Twitter </a> &nbsp;/&nbsp;
                <a href="https://www.instagram.com/hexialin1129?igsh=aTR4OWQwcDQxdHg2&utm_source=qr"> Instagram </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <div class="image-container">
                  <img class="default-image" alt="profile photo" src="images/IMG_5935.jpg" />
                  <img class="hover-image" alt="hover photo" src="images/backup.JPG" />
              </div>
            </td>
          </tr>
        </table>

        <!-- 这里是 tab 按钮区：Lead Author Publications / Other Publications -->
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'research1')" id="defaultOpen">Lead Author Publications</button>
          <button class="tablinks" onclick="openTab(event, 'research2')">Other Publications</button>
        </div>

        <!-- research1 - 默认显示的标签内容 -->
        <div id="research1" class="tabcontent">
          <h2>Lead Author Publications</h2>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            {% for post in site.posts %}
              {% if post.categories contains 'research1' %}
              <tr>
                <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                  <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                </td>
                <td style="padding:2.5%;width:75%;vertical-align:middle">
                  <h3>{{post.title}}</h3>
                  <br>
                  {{post.authors}}
                  <br>
                  <em>{{post.venue}}</em>
                  <br>
                  {% if post.arxiv %}
                  <a href="{{post.arxiv}}">arxiv</a> /
                  {% endif %}
                  {% if post.video %}
                  <a href="{{post.video}}">video</a> /
                  {% endif %}
                  {% if post.code %}
                  <a href="{{post.code}}">code</a> /
                  {% endif %}
                  {% if post.dataset %}
                  <a href="{{post.dataset}}">dataset</a> /
                  {% endif %}
                  {% if post.poster %}
                  <a href="{{post.poster}}">poster</a> /
                  {% endif %}
                  {% if post.slides %}
                  <a href="{{post.slides}}">slides</a> /
                  {% endif %}
                  {% if post.website %}
                  <a href="{{post.website}}">website</a> /
                  {% endif %}
                  {% if post.youtube %}
                  <a href="{{post.youtube}}">youtube</a> /
                  {% endif %}
                  <p></p>
                  {{ post.excerpt }}
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>

        <!-- research2 - 点击后才显示的标签内容 -->
        <div id="research2" class="tabcontent">
          <h2>Other Publications</h2>
          <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
            {% for post in site.posts %}
              {% if post.categories contains 'research2' %}
              <tr>
                <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
                  <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
                </td>
                <td style="padding:2.5%;width:75%;vertical-align:middle">
                  <h3>{{post.title}}</h3>
                  <br>
                  {{post.authors}}
                  <br>
                  <em>{{post.venue}}</em>
                  <br>
                  {% if post.arxiv %}
                  <a href="{{post.arxiv}}">arxiv</a> /
                  {% endif %}
                  {% if post.video %}
                  <a href="{{post.video}}">video</a> /
                  {% endif %}
                  {% if post.code %}
                  <a href="{{post.code}}">code</a> /
                  {% endif %}
                  {% if post.dataset %}
                  <a href="{{post.dataset}}">dataset</a> /
                  {% endif %}
                  {% if post.poster %}
                  <a href="{{post.poster}}">poster</a> /
                  {% endif %}
                  {% if post.slides %}
                  <a href="{{post.slides}}">slides</a> /
                  {% endif %}
                  {% if post.website %}
                  <a href="{{post.website}}">website</a> /
                  {% endif %}
                  {% if post.youtube %}
                  <a href="{{post.youtube}}">youtube</a> /
                  {% endif %}
                  <p></p>
                  {{ post.excerpt }}
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </table>
        </div>

        <br>
        <br>
        <!-- 其他板块: 教育信息等 -->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Education</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          {% for post in site.posts %}
            {% if post.categories contains 'education' %}
            <tr>
              <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:60px">
                <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:70%;" />
              </td>
              <td style="padding:2.5%;width:75%;vertical-align:middle">
                <h3 style="margin-right: 5px;">{{post.school}}</h3> <h3 style="font-weight: normal;">{{post.location}}</h3>
                <br><br>
                {{post.degree}}
              </td>
            </tr>
            {% endif %}
          {% endfor %}
        </table>

        <!-- 访客统计等 -->
        <table width="30%" align="center" border="0" cellspacing="0" cellpadding="20">
          <tbody>
              <tr>
                  <td style="padding:0px">
                      <br>
                      <br>
                      <div>
                        <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=RLEOP5NJGyhEY10MFHw9Sw-yyHNmZXMw6wk2A94TFiM"></script>
                      </div>
                  </td>
              </tr>
          </tbody>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://leonidk.com">Leonid Keselman</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <!-- 这里放置 JS 脚本，用于 tab 切换 -->
  <script>
    function openTab(evt, tabName) {
      // 1. 隐藏所有 .tabcontent
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      // 2. 移除所有 tab 按钮的 active 状态
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      // 3. 显示当前 tab，并给当前按钮添加 active
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    // 页面载入后自动点击第一个 tab，让它默认显示
    document.getElementById("defaultOpen").click();
  </script>
  
  
  

</body>
</html>
